body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to bottom right,  #9775fa);
}

header {
    text-align: center;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 40px;
    margin: 0;
}

nav {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffdf5d;
}

main {
    padding: 20px 40px;
}

#about {
    margin-bottom: 50px;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-img {
    width: 250px;
    height: auto;
    border-radius: 15px;
    border: 3px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#about h2, #work h2, #content h2 {
    color: #ffdf5d;
}

form {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(4px);
}

form label {
    font-size: 16px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background: #ffdf5d;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ffe97f;
}
footer {
    text-align: center;
    padding: 5px;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}
